<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MHCS SignUp</title>
</head>
<body>
    <h1>Create your own profile</h1>

    {% if min_words %}
        <strong style="color: red;">{{ min_words }}</strong>
    {% endif %}

    {% if numeric_char %}
        <strong style="color: red;">{{ numeric_char }}</strong>
    {% endif %}

    {% if same_words %}
        <strong style="color: red;">{{ same_words }}</strong>
    {% endif %}

    {% if noMatch %}
    <strong style="color: red;">{{ noMatch }}</strong>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <label for="fname">First Name</label>
        <input type="text" name="fname" id="fname" maxlength="15" required>

        <label for="lname">Last Name</label>
        <input type="text" name="lname" id="lname" maxlength="15" required>

        <label for="username">Username</label>
        <input type="text" name="username" id="username" maxlength="25" required>

        <label for="email">E-mail Address</label>
        <input type="email" name="email" id="email" maxlength="30" required> 

        <label for="pass1">Password</label>
        <input type="password" id="pass1" name="pass1" maxlength="20" required>

        <label for="pass2">Confirm your password</label>
        <input type="password" id="pass2" name="pass2" maxlength="20" required>

        <input type="submit" placeholder="Create User" >

    </form>

    <a href="signIn"><button>Already Signned Up ?</button></a>
</body>
</html>